{% raw %}{% extends 'base.html' %}{% endraw %}
{% if cookiecutter.use_bootstrap == "y" %}
{% raw %}{% load crispy_forms_tags %}{% endraw %}{% endif %}

{% raw %}{% block title %}{% endraw %}Login | {{ cookiecutter.project_name }} {% raw %}{% endblock title %}{% endraw %}

{% raw %}{% block content %}{% endraw %}
{%- if cookiecutter.use_bootstrap == "y" %}<div class="container">{% endif %}
    <form method="post">
        {% raw %}{% csrf_token %}{% endraw %}
        {%- if cookiecutter.use_bootstrap == "y" %}
        {% raw %}{{ form|crispy }}{% endraw %}{% else %}
        {% raw %}{{ form.as_p }}{% endraw %}{% endif %}
        <button type="submit" {%- if cookiecutter.use_bootstrap == "y" %}class="btn btn-primary"{% endif %}>Log me in</button>
    </form>
{%- if cookiecutter.use_bootstrap == "y" %}</div>{% endif %}
{% raw %}{% endblock content %}{% endraw %}