{% if cookiecutter.use_bootstrap == "y" or cookiecutter.use_tailwindcss == "y" -%}
{% raw %}{% load webpack_loader static %}{% endraw %}

{% endif -%}

<!doctype html>
<html lang="{{ cookiecutter.language }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% raw %}{% block title %}{% endblock title %}{% endraw %}</title>
    
    {% raw %}{% block head_styles %}{% endraw %}
    {%- if cookiecutter.use_bootstrap == "y" or cookiecutter.use_tailwindcss == "y" %}
      {% raw %}{% stylesheet_pack 'app' %}{% endraw %}
    {% endif -%}
    {% raw %}{% endblock head_styles %}{% endraw %} 
    
    {% raw %}{% block head_scripts %}{% endraw %}
    {%- if cookiecutter.use_bootstrap == "y" or cookiecutter.use_tailwindcss == "y" %}
      {% raw %}{% javascript_pack 'app' attrs='defer' %}{% endraw %}
    {% endif -%}
    {% raw %}{% endblock head_scripts %}{% endraw %}
  </head>
  <body class="{% raw %}{% block body_classes %}position-relative min-vh-100{% endblock body_classes %}{% endraw %}">
    {% raw %}{% block messages %}{% include 'partials/messages.html' %}{% endblock messages %}{% endraw %}
    
    {% raw %}{% block navigation %}{% include 'partials/navigation.html' %}{% endblock navigation %}{% endraw %}
    
    {% raw %}{% block header %}{# placer l'en-tête de la page ici #}{% endblock header %}{% endraw %}
    
    {% raw %}{% block outer_content %}{% endraw %}
        <main{% if cookiecutter.use_bootstrap == "y" %} class="flex-grow-1 container"{% endif %}>
          {% raw %}{% block content %}{# placer le contenu principal ici #}{% endblock content %}{% endraw %}
        </main>
    {% raw %}{% endblock outer_content %}{% endraw %}
    
    {% raw %}{% block footer %}{% include 'partials/footer.html' %}{% endblock footer %}{% endraw %}
    
    {% raw %}{% block modal %}{# placer vos fenêtres modales ici #}{% endblock modal %}{% endraw %}
    
    {% raw %}{% block bottom_scripts %}{# placer vos scripts de bas de page ici #}{% endblock bottom_scripts %}{% endraw %}
  </body>
</html>
