[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-extensions = "*"
django-environ = "*"
pillow = "*"
{%- if cookiecutter.use_bootstrap == "y" %}
crispy-bootstrap5 = "*"{% endif %}
{%- if cookiecutter.use_tailwindcss == "y" %}
crispy-tailwind = "*"{% endif %}
{%- if cookiecutter.use_bootstrap == "y" or cookiecutter.use_tailwindcss == "y" %}
python-webpack-boilerplate = "*"{% endif %}

[dev-packages]
pytest = "*"
pytest-django = "*"
{%- if cookiecutter.postgresql_version != "other database" %}
psycopg2-binary = "*"{% endif %}

[production]
gunicorn = "*"
{%- if cookiecutter.postgresql_version != "other database" %}
psycopg2 = "*"{% endif %}

[requires]
python_version = "{{ cookiecutter.python_version }}"
